<div *ngIf="isLoading" class="loading">
  <img src="../assets/images/cube-loading.svg" style="width: 4em">
</div>
<div *ngIf="!isLoading" class="devices-wrapper">
  <div class="header">
    <img src="../assets/images/devices/devices-icon.png" class="devices-icon">
    <div class="header-right">
      <div class="title">{{'locations-tabs-device' | translate}}</div>
      <div class="subtitle">{{'devices-subtitle' | translate}}</div>
      <div class=filter>
        {{'devices-filter' | translate}}:
        <div class="filter-select">
          <select id="filter-select" style="width: 9.5em" name="city" [(ngModel)]="selectedFilter" (change)="filterItem()">
            <option [value]="0">{{'devices-filter-all' | translate}}</option>
            <option *ngFor="let filter of filters" [value]="filter.value">{{filter.name}}</option>
          </select>
        </div>
      </div>
      <div class="device-add">
        <div class="add-icon" (click)="openAddDeviceModal()">+</div>{{'devices-add-device' | translate}}
      </div>
    </div>
  </div>
  <div class="devices">
    <div class="device" *ngFor="let device of filteredItems">
      <img src="../assets/images/devices/beacon-icon.png" class="beacon-icon">
      <div class="device-info" (click)="selectDevice(device.id)">
        <div class="device-name">
          {{device.name}}
          <span class="device-type">( {{device.type}} )</span>
          <img [id]="device.id" class="remove-loading-icon" src="../assets/images/devices/loading-icon.svg">
        </div>
        <div class="device-id">
          <span class="id-header">ID: </span> {{device.id}}
        </div>
        <div class="device-status">
          <div *ngIf="device.status == true"><img class="active-icon" src="../assets/images/devices/active-icon.png"> Active</div>
          <div *ngIf="device.status == false"><img class="disconnected-icon" src="../assets/images/devices/disconnected-icon.png"> Disconnected</div>
        </div>
      </div>
      <img class="action-button-icon" src="../assets/images/devices/action-button-icon.png" (click)="openEditPopup($event)">
      <div class="edit-popup">
        <div class="edit-button" (click)="closeEditPopup($event)">{{'devices-edit' | translate}}</div>
        <div [id]="device.id" class="remove-button" (click)="removeDevice(device.id, $event)">{{'devices-remove' | translate}}</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-device-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="add-modal-title">
          {{'devices-add-device-title' | translate}}
          <img *ngIf="isAddLoading"  class="add-loading-icon" src="../assets/images/devices/loading-icon.svg">
        </div>
        <div class="add-modal-subtitle">
          {{'devices-add-device-subtitle' | translate}}
        </div>
        <div style="position: relative">
          <input id="device-search-input" type="text" class="search-input" placeholder="{{'locations-search-hint' | translate}}" (focusin)="scale1()" (focusout)="scale0()">
          <span class="underline one"></span>
          <img class="search-icon" src="../assets/images/devices/search-icon.png" (click)="searchDevice()">
        </div>
        <div class="device-not-found">
            {{'devices-not-found' | translate}}
        </div>
        <div class="device-found">
          <div class="device-found-text">{{'devices-found-device' | translate}}</div>
          <img class="rogo-air-icon" src="../assets/images/devices/rogo-air-icon.png">
          <div class="rogo-air-text">ROGO AIR</div>
        </div>
        <div class="device-found-add">
          <input type="text" class="label-input" placeholder="Label Device" (focusin)="scale1Two()" (focusout)="scale0Two()">
          <span class="underline two"></span>
          <button type="button" class="add-label-button" (click)="addDevice()">{{'devices-add' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>