.header {
  padding: 2em 0em 1.5em 5em;
  background-color: #ffffff;
  margin-bottom: 1.5em;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.devices-icon {
  widtH: 2em;
  vertical-align: top;
  margin-top: 0.2em;
  margin-right: 1em;
}

.header-right {
  display: inline-block;
}

.title {
  font-size: 2em;
  color: #2e3036;
}

.subtitle {
  margin-top: 0.2em;
  color: #7f7f7f;
}

.filter {
  margin-top: 2em;
  margin-right: 8em;
  color: #9f9e9e;
  display: inline-block;
}

.filter-select {
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 9.5em;
  height: 2.5em;
  position: relative;
}

.filter-select select{
  background-color: #ffffff;
  color: #6a6a6a;
  font-size: 1.1em;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  text-indent: 0.01em;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  outline: none;
}

/*Hiding the select arrow for IE10*/
.filter-select select::-ms-expand {
  display: none;
}

.filter-select::before,
.filter-select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.filter-select::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}

.filter-select::after {
  color: #4d515a;
}

.filter-select select[disabled] {
  color: rgba(0,0,0,.25);
}

.device-add {
  display: inline-block;
  color: #4d515a;
  font-size: 1.1em;
  vertical-align: top;
  margin-top: 1.45em;
}

.add-icon {
  color: #e42c71;
  margin-right: 0.2em;
  margin-bottom: -0.45em;
  vertical-align: bottom;
  font-size: 2.5em;
  display: inline-block;
  font-weight: lighter;
  cursor: pointer;
}

.device {
  position: relative;
  background-color: #ffffff;
  height: 10em;
  width: 100%;
  display: flex;
  align-items: center;
  color: #2e3036;
  border-bottom: 0.1em solid #d7d7d7;
  padding-left: 6.5em;
}

.device-name {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.device-info {
  cursor: pointer;
}

.device-info:hover .device-name {
  color: #ee3432;
}

.beacon-icon {
  width: 4.4em;
  margin-right: 2em;
  margin-top: -2em;
  vertical-align: top;
}

.device-name {
  margin-bottom: 0.7em;
  color: #2e3036;
  font-size: 1.4em;
}

.device-type {
  margin-left: 1em;
  font-weight: lighter;
}

.device-id {
  margin-bottom: 1.3em;
  font-size: 0.9em;
  color: #989ba5;
}

.id-header {
  color: #6077ba;
  margin-right: 0.5em;
}

.active-icon, .disconnected-icon {
  width: 1.1em;
  vertical-align: bottom;
  margin-bottom: 0.3em;
}

.action-button-icon {
  width: 0.5em;
  position: absolute;
  right: 5em;
  top: 2em;
  cursor: pointer;
}

.edit-popup {
  position: absolute;
  right: 2.7em;
  top: 4.5em;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.edit-popup:before {
  border: 0.6em solid;
  border-color: transparent transparent white;
  content: "";
  right: 2em;
  margin-left: -10px;
  position: absolute;
  bottom: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 -0.2em 0.5em);
  z-index: -1;
}


#triangle {
  position: absolute;
  top: 0;
  margin-top: -1px;
  right: 2em;
}


.edit-button {
  padding: 1em 6em 1em 6em;
  border-bottom: 0.1em solid #ebebeb;
  cursor: pointer;
  background-color: #ffffff;
}

.remove-button {
  padding: 1em 6em 1em 6em;
  cursor: pointer;
}

.edit-button:hover, .remove-button:hover {
  color: #f2727e;
}

#add-device-modal .modal-body {
  padding: 3em 5em 3em 5em;
  background-color: #2e3036;
  color: #ffffff;
}

.add-modal-title {
  font-size: 1.3em;
}

.add-modal-subtitle {
  margin-top: 0.5em;
  font-size: 1em;
  color: #76787b;
  font-style: italic;
}

.search-input {
  margin-top: 3em;
  background-color: transparent;
  border: none;
  border-bottom: 0.05em solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Raleway', Arial, sans-serif;
  height: 2.3em;
  width: 20.5em;
  outline: none;
}

.search-input:focus::-webkit-input-placeholder {
  color: #236eba;
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 0.15em;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 21.8em;
}

.search-icon {
  position: absolute;
  left: 23em;
  bottom: -0.25em;
  cursor: pointer;
  width: 2.5em;
}

.device-not-found {
  color: #ee2f51;
  padding-top: 5em;
  padding-bottom: 4em;
  text-align: center;
  display: none;
}

.device-found {
  margin-top: 3em;
  width: 20.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-found-text {
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

.rogo-air-icon {
  width: 4em;
  margin-bottom: 1em;
}

.rogo-air-text {
  font-size: 1.3em;
}

.label-input {
  margin-top: 4em;
  background-color: transparent;
  border: none;
  border-bottom: 0.05em solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Raleway', Arial, sans-serif;
  height: 2.3em;
  width: 16em;
  outline: none;
}

.label-input:focus::-webkit-input-placeholder {
  color: #236eba;
}

.underline.two {
  width: 17em;
}

.add-label-button {
  position: absolute;
  right: 2em;
  bottom: -0.4em;
  border: 0;
  padding: 0.5em 4em 0.5em 4em;
  background-color: #3cb878;
}