<div class="device-wrapper">
  <div class="sidebar">
    <div class="back-title" (click)="backToDevices()">
      <img class="back-icon" src="../assets/images/device/back-icon.png"> {{device.name}}
    </div>
    <div class="location">
      <img class="shop-icon" src="../assets/images/device/shop-icon.png"> {{device.location}}
    </div>
    <div class="temp">
      <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
      <span>29°</span>
    </div>
    <div class="humidity">
      <img class="humidity-icon" src="../assets/images/device/humidity-icon.png">
      <span>66 %</span>
    </div>
    <div class="history" (click)="switchToHistory()">
      <img class="history-icon" src="../assets/images/device/history-icon.png">
      <div>{{'device-history-tab' | translate}}</div>
    </div>
    <div class="settings" (click)="switchToSettings()">
      <img class="settings-icon" src="../assets/images/device/settings-icon.png">
      <div>{{'device-settings-tab' | translate}}</div>
    </div>
  </div>
  <div class="content">
    <div class="history-content">
      <div class="current-month-year">{{currentMonthYear}}</div>
      <div class="timeline">
        <ul class="list-inline" style="list-style: none; padding: 0">
          <li class="before-today">{{currentDate.getDate() - 3}}</li>
          <li class="before-today">{{currentDate.getDate() - 2}}</li>
          <li class="before-today">{{currentDate.getDate() - 1}}</li>
          <li class="today">{{currentDate.getDate()}}</li>
          <li class="after-today">{{currentDate.getDate() + 1}}</li>
          <li class="after-today">{{currentDate.getDate() + 2}}</li>
          <li class="after-today">{{currentDate.getDate() + 3}}</li>
        </ul>
        <img class="calendar-icon" src="../assets/images/device/calendar-icon.png" (click)="openDatepicker()">
        <input class="datepicker" style="opacity: 0" [mdDatepicker]="myDatepicker" [(ngModel)]="currentDate" (ngModelChange)="updateMonthYear()">
        <md-datepicker #myDatepicker></md-datepicker>
      </div>
      <div class="temp-chart">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-temp' | translate}}
      </div>
      <div class="humidity-chart">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-humidity' | translate}}
      </div>
    </div>
    <div class="settings-content">
      <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-settings-explain-1' | translate}}
      <ul class="bullet-text">
        <li>{{'device-settings-explain-2' | translate}}</li>
        <li>{{'device-settings-explain-3' | translate}}</li>
        <li>{{'device-settings-explain-4' | translate}}</li>
        <li>{{'device-settings-explain-5' | translate}}</li>
      </ul>
      <div class="switch-wrapper">
        <img class="switch-bg-icon" src="../assets/images/device/switch-icon.png">
        <!-- <img class="switch-active-icon" src="../assets/images/device/switch-active-icon.png"> -->
        <img class="switch-icon a" src="../assets/images/device/switch-active-icon.png">
        <img class="switch-icon b" src="../assets/images/device/switch-active-icon.png">
        <img class="switch-icon c" src="../assets/images/device/switch-active-icon.png">
        <img class="switch-icon d" src="../assets/images/device/switch-active-icon.png">
        <span class="option-1">{{'device-no-operation' | translate}}</span>
        <span class="option-2">{{'device-set-point' | translate}}</span>
        <span class="option-3">{{'device-schedule' | translate}}</span>
        <span class="option-4">{{'device-power' | translate}}</span>
      </div>
      <div style="margin-top: 6em">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-set-point' | translate}}
      </div>
      <div class="no-select" style="margin-top: 2em;">
        <div class="minus-icon" (click)="decreaseTemp()">-</div>
        <div class="temp2">{{temp | number:'2.1-1'}}</div>
        <div class="degree">°</div>
        <div class="plus-icon" (click)="increaseTemp()">+</div>
      </div>
      <div style="margin-top: 2em">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-schedule' | translate}}
      </div>
      <div class="schedule-wrapper">
        <div class="add-wrapper">
          <img class="add-icon" src="../assets/images/device/add-icon.png">
          <div class="add-text">{{'device-add-schedule' | translate}}</div>
        </div>
        <div *ngFor="let schedule of schedules" class="schedule-box">
          <div class="from-group">
            {{'device-from' | translate}}
            <div style="font-size: 1.4em">06:20</div>
          </div>
          <div class="to-group">
            {{'device-to' | translate}}
            <div style="font-size: 1.4em">19:00</div>
          </div>
          <div class="target-group">
            {{'device-target' | translate}}: 26.5°
          </div>
        </div>
      </div>
    </div>
  </div>
</div>