<div *ngIf="isLoading" class="loading">
  <img src="../assets/images/cube-loading.svg" style="width: 4em">
</div>
<div *ngIf="!isLoading" class="device-wrapper">
  <div class="header">
    <img src="../assets/images/device/devices-icon.png" class="devices-icon">
    <div class="header-right">
      <div class="title">{{device.name}}</div>
      <div class="subtitle">{{device.type}}</div>
      <div class="tabs">
        <div class="history-tab active" (click)="switchToHistory()">
          {{'device-history-tab' | translate}}
        </div>
        <!--
        -->
        <div class="settings-tab" (click)="switchToSettings()">
          {{'device-settings-tab' | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="history-content">
      <div class="current-month-year">{{currentMonthYear}}</div>
      <div class="timeline">
        <ul class="list-inline" style="list-style: none; padding: 0">
          <li class="before-today">{{currentDateMinus3}}</li>
          <li class="before-today">{{currentDateMinus2}}</li>
          <li class="before-today">{{currentDateMinus1}}</li>
          <li class="today">{{currentDate.getDate()}}</li>
          <li class="after-today">{{currentDatePlus1}}</li>
          <li class="after-today">{{currentDatePlus2}}</li>
          <li class="after-today">{{currentDatePlus3}}</li>
        </ul>
        <img class="calendar-icon" src="../assets/images/device/calendar-icon.png" (click)="openDatepicker()">
        <input class="datepicker" style="opacity: 0" [mdDatepicker]="myDatepicker" [(ngModel)]="currentDate" (ngModelChange)="updateMonthYear()">
        <md-datepicker #myDatepicker></md-datepicker>
      </div>
      <div class="temp-chart">
        <div class="chart-loading">
          <img class="chart-loading-icon" src="../assets/images/device/loading-icon.svg">
        </div>
        <div class="chart-empty">
          <div>{{'device-no-data' | translate}}</div>
        </div>
        <div style="margin-bottom: 1em;">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-temp' | translate}}
        </div>
        <chart [options]="tempOptions" (load)="saveTempInstance($event.context)"></chart>
        <div class="current-temp">
          <img class="temp-icon" src="../assets/images/device/temp-icon.png"> {{ currentTemp | number : '2.1-1' }} °
        </div>
      </div>
      <div class="humidity-chart">
        <div class="chart-loading">
          <img class="chart-loading-icon" src="../assets/images/device/loading-icon.svg">
        </div>
        <div class="chart-empty">
          <div>{{'device-no-data' | translate}}</div>
        </div>
        <div style="margin-bottom: 1em;">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-humidity' | translate}}
        </div>
        <chart [options]="humidityOptions" (load)="saveHumidityInstance($event.context)"></chart>
        <div class="current-humidity">
          <img class="humidity-icon" src="../assets/images/device/humidity-icon.png"> {{ currentHumidity | number : '2.1-1'
          }} %
        </div>
      </div>
    </div>
    <div class="settings-content">
      <div>
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> AIR CONDITIONER TARGET
      </div>
      <div *ngIf="device" class="air-conditioners">
        <div *ngFor="let ac of device.ac" class="ac">{{ac}}</div>
      </div>
      <div>
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> OVERRIDE LOCATION SETTINGS
        <div style="padding-left: 1.2em; margin-bottom: 1em">
          <div class="override-subtitle">{{'device-override-subtitle' | translate}}</div>
          <ui-switch *ngIf="device" size="small" [(ngModel)]="device.forcecontrol" color="#448ccb" (change)="setForcecontrol($event)"></ui-switch>
        </div>
      </div>
      <div class="override-settings">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-settings-explain-1' | translate}}
        <ul class="bullet-text">
          <li>{{'device-settings-explain-2' | translate}}</li>
          <li>{{'device-settings-explain-3' | translate}}</li>
          <li>{{'device-settings-explain-4' | translate}}</li>
          <li>{{'device-settings-explain-5' | translate}}</li>
        </ul>
        <div class="switch-wrapper">
          <img class="switch-bg-icon" src="../assets/images/device/switch-icon.png">
          <img class="switch-icon a" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon b" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon c" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon d" src="../assets/images/device/switch-active-icon.png">
          <span class="option-1">{{'device-no-operation' | translate}}</span>
          <span class="option-2">{{'device-set-point' | translate}}</span>
          <span class="option-3">{{'device-schedule' | translate}}</span>
          <span class="option-4">{{'device-power-off' | translate}}</span>
        </div>
        <div style="margin-top: 3em; border-top: 0.08em solid #d9dde7; padding-top: 1em">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-set-point' | translate}}
          <img *ngIf="isSetpointLoading" class="setpoint-loading-icon" src="../assets/images/device/loading-icon.svg">
        </div>
        <div class="no-select" style="margin-top: 2em;">
          <div class="minus-icon" (click)="decreaseTemp()">-</div>
          <div class="temp2">{{temp | number:'2.1-1'}}</div>
          <div class="degree">°</div>
          <div class="plus-icon" (click)="increaseTemp()">+</div>
        </div>
        <div style="margin-top: 3em; border-top: 0.08em solid #d9dde7; padding-top: 1em">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-schedule' | translate}}
        </div>
        <div class="schedule-wrapper">
          <div class="add-schedule" (click)="openAddScheduleModal()">
            <div class="add-schedule-icon">+</div>
            Thêm lịch
          </div>
          <div class="add-wrapper">
            <img class="add-icon" src="../assets/images/device/add-icon.png">
            <div class="add-text">{{'device-add-schedule' | translate}}</div>
          </div>
          <div *ngFor="let schedule of schedules" class="schedule-box">
            <div class="from-group">
              {{'device-from' | translate}}
              <div style="font-size: 1.4em">06:20</div>
            </div>
            <div class="to-group">
              {{'device-to' | translate}}
              <div style="font-size: 1.4em">19:00</div>
            </div>
            <div class="target-group">
              {{'device-target' | translate}}: 26.5°
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-schedule-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="add-modal-title">
            ĐẶT LỊCH
            <div class="add-schedule-cancel" (click)="closeAddScheduleModal()">
              Cancel
            </div>
          </div>
          <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> Đặt lịch giờ
          <div class="time-picker-group">
            <div class="start-time">
              <div class="time-title">START</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusStartHour()">
                <div class="dial-content">{{startHour | number : '2.0-0'}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusStartHour()">
              </div>
              <div class="dial-colon">:</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusStartMinute()">
                <div class="dial-content">{{startMinute | number : '2.0-0'}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusStartMinute()">
              </div>
              <div class="dial-colon">:</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="toggleStartPeriod()">
                <div class="dial-content">{{startPeriod}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="toggleStartPeriod()">
              </div>
            </div>
            <div class="end-time">
              <div class="time-title">END</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusEndHour()">
                <div class="dial-content">{{endHour | number : '2.0-0'}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusEndHour()">
              </div>
              <div class="dial-colon">:</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusEndMinute()">
                <div class="dial-content">{{endMinute | number : '2.0-0'}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusEndMinute()">
              </div>
              <div class="dial-colon">:</div>
              <div class="time-dial">
                <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="toggleEndPeriod()">
                <div class="dial-content">{{endPeriod}}</div>
                <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="toggleEndPeriod()">
              </div>
            </div>
          </div>
          <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> Đặt lịch trong tuần
          <div class="all-week-switch">
            Tất cả các ngày trong tuần
            <ui-switch size="small" [(ngModel)]="allWeekSwitch"></ui-switch>
          </div>
          <div class="weekday-group">
            <div class="weekday-wrapper">
              <div class="weekday">MON</div>
              <div class="weekday">TUE</div>
              <div class="weekday">WED</div>
              <div class="weekday active">THU</div>
              <div class="weekday">FRI</div>
              <div class="weekday">SAT</div>
              <div class="weekday">SUN</div>
            </div>
          </div>
          <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> Setpoint
          <div class="no-select" style="margin-top: 1em; margin-left: 2em">
            <div class="minus-icon" (click)="decreaseScheduleTemp()">-</div>
            <div class="temp2">{{scheduleTemp | number:'2.1-1'}}</div>
            <div class="degree">°</div>
            <div class="plus-icon" (click)="increaseScheduleTemp()">+</div>
          </div>
          <div class="set-schedule-button" (click)="addSchedule()">
            Đặt lịch
          </div>
        </div>
      </div>
    </div>
  </div>