.device-wrapper, .content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.device-wrapper {
  /* font-size: 0.85em; */
}

.content {
  overflow-y: scroll;
}

.opaque {
  opacity: 0.5;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}

.header {
  height: 15em;
  background-color: #ffffff;
  border-bottom: 0.13em solid #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/** Left side - Device info*/

.left-side {
  padding-left: 2em;
}

.rogo-type-icon {
  height: 5em;
  width: 5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5em;
  vertical-align: top;
  margin-top: 0.6em;
  border-radius: 50%;
  background-color: #a1a7b2;
  color: #ffffff;
}

.device-info {
  display: inline-block;
}

.device-name {
  font-weight: bold;
  font-size: 1.7em;
}

.rogo-type {
  display: inline-block;
  padding: 0.35em 1em 0.35em 1em;
  background-color: #ebebeb;
  margin-left: 1em;
  font-size: 0.5em;
  color: #778bc6;
  vertical-align: top;
  margin-top: 0.3em;
}

.device-id {
  font-size: 0.9em;
  color: #989ba5;
  margin-bottom: 0.6em;
}

.id-header {
  color: #6077ba;
  margin-right: 0.5em;
}

.active-icon {
  width: 0.98em;
  vertical-align: top;
  margin-top: 0.07em;
}

.device-status, .device-power-source {
  display: inline-block;
}

.device-power-source {
  margin-left: 1em;
}

.plugged-in-icon {
  width: 1.5em;
  margin-top: 0.27em;
  vertical-align: top;
  margin-right: 0.3em;
}

.battery-icon {
  width: 1.3em;
  margin-top: 0.25em;
  vertical-align: top;
  margin-right: 0.3em;
}

/** */

.title {
  font-size: 2em;
  color: #2e3036;
}

.subtitle {
  margin-top: 0.2em;
  color: #7f7f7f;
}

.tabs {
  position: absolute;
  right: 0;
  padding-right: 2em;
}

.history-tab, .settings-tab {
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 2em;
  color: #447cbf;
  cursor: pointer;
}

.history-tab.active, .settings-tab.active {
  background-color: #447cbf;
  color: #ffffff;
}

.history-content {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7em;
  background-color: #ffffff;
  height: 100%;
  overflow-y: scroll;
}

.settings-content {
  font-size: 1.2em;
  background-color: #ffffff;
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2.5em 1em 2em;
}

.bullet-icon {
  width: 0.5em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}

.bullet-text {
  margin-top: 1.4em;
  list-style: none;
  line-height: 2em;
  color: #707070;
  font-style: italic;
  font-size: 0.7em
}

.air-conditioners {
  margin-top: 1.2em;
  margin-left: 2em;
  margin-bottom: 1.5em;
}

.ac {
  display: inline-block;
  font-size: 0.8em;
  border: 0.12em dashed #90ceee;
  border-radius: 1em;
  padding: 0.25em 0 0.25em 0;
  width: 8em;
  text-align: center;
  margin-right: 1em;
}

.override-subtitle {
  font-size: 0.72em;
  color: #787878;
  margin-bottom: 0.8em;
}

.override-settings {
  padding-left: 1.5em;
}

.switch-wrapper {
  position: relative;
}

.switch-bg-icon {
  height: 1.2em;
  margin-left: 2em;
  margin-top: 0.5em;
}

.switch-icon {
  position: absolute;
  width: 0.85em;
  top: 0.657em;
  left: 2.18em;
  opacity: 0;
  cursor: pointer;
}

.switch-icon.b {
  left: 9.78em;
}

.switch-icon.c {
  left: 17.35em;
}

.switch-icon.d {
  left: 24.95em;
}

.option-1, .option-2, .option-3, .option-4 {
  position: absolute;
  bottom: -2em;
  left: 1em;
  font-size: 0.7em;
  color: #707070;
}

.option-2 {
  left: 12.5em;
}

.option-3 {
  left: 23.5em;
}

.option-4 {
  left: 34em;
}

.minus-icon {
  display: inline-block;
  margin: 0.45em 3em 0 2em;
  font-size: 1.2em;
  transform:scale(2,1);
  vertical-align: top;
  cursor: pointer;
}

.plus-icon {
  display: inline-block;
  margin-top: -0.1em;
  margin-left: 0.65em;
  font-size: 2.5em;
  font-weight: lighter;
  vertical-align: top;
  cursor: pointer;
}

.minus-icon:hover, .plus-icon:hover {
  color: #ee3458;
}

.temp2 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: lighter;
  display: inline-block;
  font-size: 2em;
  transform:scale(1.3,1);
  min-width: 1.9em;
}

.degree {
  display: inline-block;
  font-size: 2.5em;
  font-weight: lighter;
  color: #ee3458;
  margin-left: 0.3em;
  margin-top: 0.12em;
  vertical-align: top;
}

.schedule-wrapper {
  position: relative;
}

.add-wrapper {
  display: inline-flex;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 2em;
  flex-direction: column;
  vertical-align: top;
  align-items: center;
}

.add-icon {
  width: 3em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.add-text {
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.schedule-box {
  display: inline-block;
  background-color: #005b7f;
  height: 6em;
  width: 8em;
  margin-top: 1em;
  margin-left: 2em;
  color: #ffffff;
  position: relative;
  font-weight: lighter;
}

.from-group {
  position: absolute;
  left: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
}

.to-group {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 0.5em;
}

.target-group {
  position: absolute;
  bottom: 0.7em;
  left: 0.7em;
}

.list-inline li {
  display: inline-block;
}

.timeline {
  position: relative;
}

.timeline .list-inline li {
  margin-left: 2.8em;
  font-size: 1.9em;
  min-width: 1.3em;
}

.timeline .list-inline li:first-child {
  margin-left: 0;
}

.timeline .list-inline li.today {
  font-size: 2.5em;
  color: #447cbf;
}

.before-today {
  color: #7e8793;
}

.after-today {
  color: #d0d1d0;
}

.current-month-year {
  font-size: 2.5em;
  color: #447cbf;
}

.calendar-icon {
  position: absolute;
  width: 2em;
  top: -2.6em;
  right: 0;
  cursor: pointer;
}

.datepicker {
  position: absolute;
  top: -1em;
  right: 2.6em;
}

.temp-chart, .humidity-chart {
  position: relative;
  width: 38em;
  font-size: 1.5em;
}

chart {
  display: block;
  opacity: 0;
  margin-left: 1em;
}

.current-temp, .current-humidity {
  position: absolute;
  right: 0;
  top: -0.4em;
  font-size: 1.6em;
}

.temp-icon, .humidity-icon {
  width: 0.65em;
  vertical-align: top;
  margin-top: 0.4em;
}

.chart-loading, .chart-empty {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.chart-loading-icon {
  width: 2em;
}

.setpoint-loading-icon {
  width: 1em;
  margin-left: 0.3em;
  margin-bottom: 0.15em;
}

.device-deleting-icon {
  width: 1em;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}

/** Edit popup */
.action-button-icon {
  width: 0.3em;
  margin-left: 3em;
  margin-right: 1.5em;
  cursor: pointer;
  margin-bottom: 0.2em;
}

.edit-popup {
  position: absolute;
  right: 1em;
  top: 2.8em;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.edit-popup:before {
  border: 0.6em solid;
  border-color: transparent transparent white;
  content: "";
  right: 2em;
  margin-left: -10px;
  position: absolute;
  bottom: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 -0.2em 0.5em);
  z-index: -1;
}

#triangle {
  position: absolute;
  top: 0;
  margin-top: -1px;
  right: 2em;
}


.edit-button {
  padding: 1em 6em 1em 6em;
  border-bottom: 0.1em solid #ebebeb;
  cursor: pointer;
  background-color: #ffffff;
}

.edit-button:hover {
  color: #f2727e;
}

/* Add schedule modal begin */
.add-schedule {
  position: absolute;
  top: -1.5em;
  right: 0;
  cursor: pointer;
}

.add-schedule-icon {
  color: #ee3458;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-top: -0.27em;
}

#add-schedule-modal .modal-body {
  padding: 3em 5em 3em 5em;
  background-color: #2e3036;
  color: #bebcbd;
}

.add-modal-title {
  position: relative;
  font-size: 1.4em;
  margin-bottom: 2em;
  color: #ffffff;
}

.add-modal-subtitle {
  margin-top: 0.5em;
  font-size: 1em;
  color: #76787b;
  font-style: italic;
}

.add-schedule-cancel {
  position: absolute;
  color: #ee3458;
  top: 0;
  right: 0;
  border: 0.1em dotted #000000;
  font-size: 0.7em;
  padding: 0.25em 1.5em 0.25em 1.5em;
  cursor: pointer;
}

.white-bullet-icon {
  width: 0.5em;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
}

.time-picker-group {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.start-time, .end-time {
  text-align: center;
  flex: 1;
}

.time-title {
  margin-bottom: 1em;
}

.time-dial {
  display: inline-flex;
  width: 4em;
  flex-direction: column;
  align-items: center;
}

.dial-up, .dial-down {
  width: 1.5em;
  cursor: pointer;
}

.dial-content {
  padding: 0 0.7em 0.1em 0.7em;
  border-top: 0.12em solid #212329;
  border-bottom: 0.12em solid #212329;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.7em;
  color: #979797;
}

.dial-colon {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6em;
  -webkit-transform: scale(1.2,1);
  transform: scale(1.2,1);
  margin-top: 1.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.all-week-switch {
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 2em;
  color: #9a9a9a;
}

ui-switch {
  margin-left: 0.6em;
  font-size: 1.3em;
}

.weekday-group {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.weekday-wrapper {
  flex: 1;
  text-align: center;
}

.weekday {
  display: inline-block;
  height: 4em;
  width: 4em;
  border-radius: 4em;
  border: 0.2em dotted #000000;
  line-height: 3.8em;
  font-size: 0.8em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  cursor: pointer;
}

.weekday.active {
  border: 0.2em solid #1cbbb4;
  background-color: #1cbbb4;
  color: #ffffff;
}

#add-schedule-modal .minus-icon {
  margin-right: 7em;
}

#add-schedule-modal .plus-icon {
  margin-left: 3em;
}

.set-schedule-button {
  margin-top: 2em;
  margin-left: auto;
  margin-right: 0;
  background-color: #db5538;
  width: 15em;
  color: #ffffff;
  padding: 0.7em 1.5em 0.7em 1.5em;
  text-align: center;
  cursor: pointer;
}

.add-schedule-loading-icon {
  width: 1.5em;
  margin-left: 0.3em;
  margin-bottom: 0.15em;
}

/* Add schedule modal end */

.list-inline li {
  display: inline-block;
}

.timeline {
  position: relative;
}

.timeline .list-inline li {
  margin-left: 2.8em;
  font-size: 1.9em;
  min-width: 1.3em;
}

.timeline .list-inline li:first-child {
  margin-left: 0;
}

.timeline .list-inline li.today {
  font-size: 2.5em;
  color: #447cbf;
}

.setpoint-loading-icon {
  width: 1em;
  margin-left: 0.3em;
  margin-bottom: 0.15em;
}

/** Gannt chart */

.schedule-wrapper {
  position: relative;
  display: flex;
  padding-top: 3em;
}

.day-header-wrapper {
  display: inline-block;
  width: 5em;
  padding-left: 1em;
  font-size: 0.8em;
  margin-top: 5em;
}

.day-header {
  height: 4em;
  width: 7em;
  font-weight: bold;
}

.day-header.red {
  color: #f26d7d;
}

.schedule-table {
  border-collapse: collapse;
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;
  table-layout:fixed;
  font-size: 0.8em;
}

.schedule-table .hour-cell {
  height: 4em;
  width: 10em;
  position: relative;
}

.schedule-table .hour-cell.active::before {
  content: "";
  position: absolute;
  left: -0.1em;
  right: -0.1em;
  top: 1.7em;
  bottom: -1.3em;
  background-color: #5074b9;
}
.schedule-table .hour-cell > .hour-content-group {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.7em;
  bottom: -1.3em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2em;
}

.hour-content-group > .time {
  font-size: 0.9em;
  font-style: italic;
}


.schedule-table td:nth-child(1), .schedule-table th:nth-child(1) {
  border-left: 0.1em solid #e1e1e1;
}

.schedule-table td, .schedule-table th {
  border-right: 0.1em solid #e1e1e1;
  padding: 0;
}

.schedule-table .hour-header {
  font-size: 1.3em;
  color:#6f7081;
  font-weight: normal;
  padding-left: 1em;
}

/** End of Gantt chart */