<div *ngIf="isLoading" class="loading">
  <img src="../assets/images/cube-loading.svg" style="width: 4em">
</div>
<div *ngIf="!isLoading" class="location-settings-wrapper">
  <div class="sidebar">
    <div class="tab active">
      <img class="rogo-air-icon" src="../assets/images/location-settings/rogo-air-icon.png"> Rogo Air
    </div>
    <div class="tab">
      <img class="rogo-sensor-icon" src="../assets/images/location-settings/rogo-sensor-icon.png"> Rogo Sensor
    </div>
    <div class="tab">
      <img class="rogo-hub-icon" src="../assets/images/location-settings/rogo-hub-icon.png"> Rogo Alfa
    </div>
  </div>
  <div class="location-settings-content">
    <div class="header">
      <div class="title">{{'locations-tabs-common-settings-rogo-air' | translate}}</div>
    </div>
    <div class="content">
      <div class="rogo-air-content">
        <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-settings-explain-1' | translate}}
        <ul class="bullet-text">
          <li>{{'device-settings-explain-2' | translate}}</li>
          <li>{{'device-settings-explain-3' | translate}}</li>
          <li>{{'device-settings-explain-4' | translate}}</li>
          <li>{{'device-settings-explain-5' | translate}}</li>
        </ul>
        <div class="switch-wrapper">
          <img class="switch-bg-icon" src="../assets/images/device/switch-icon.png">
          <img class="switch-icon a" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon b" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon c" src="../assets/images/device/switch-active-icon.png">
          <img class="switch-icon d" src="../assets/images/device/switch-active-icon.png">
          <span class="option-1">{{'device-no-operation' | translate}}</span>
          <span class="option-2">{{'device-set-point' | translate}}</span>
          <span class="option-3">{{'device-schedule' | translate}}</span>
          <span class="option-4">{{'device-power-off' | translate}}</span>
        </div>
        <div style="margin-top: 3em; border-top: 0.08em solid #d9dde7; padding-top: 1em">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-set-point' | translate}}
          <img *ngIf="isSetpointLoading" class="setpoint-loading-icon" src="../assets/images/location-settings/loading-icon.svg">
        </div>
        <div class="no-select" style="margin-top: 2em;">
          <div class="minus-icon" (click)="decreaseTemp()">-</div>
          <div class="temp2">{{temp | number:'2.1-1'}}</div>
          <div class="degree">°</div>
          <div class="plus-icon" (click)="increaseTemp()">+</div>
        </div>
        <div [class.opaque]="location.mode != 'SCHEDULE'" style="margin-top: 3em; border-top: 0.08em solid #d9dde7; padding-top: 1em">
          <img class="bullet-icon" src="../assets/images/device/bullet-icon.png"> {{'device-schedule' | translate}}
        </div>
        <div [class.opaque]="location.mode != 'SCHEDULE'" class="schedule-wrapper">
          <div class="day-header-wrapper">
            <div class="day-header" *ngFor="let day of daysOfWeek" [class.red]="day == 'SUN'">
              {{day}}
            </div>
          </div>
          <table class="schedule-table" cellpadding="0">
            <tr>
              <th *ngFor="let hour of hoursOfDay">
                <div class="hour-header">{{hour}}</div>
              </th>
            </tr>
            <tr *ngFor="let day of daysOfWeek">
              <td *ngFor="let hour of hoursOfDay">
                <div class="hour-cell">
                  <div class="hour-content-group">
                    <div class="target"></div>
                    <div class="time"></div>
                  </div>
                </div>
              </td>
              <tr>
          </table>
          <div class="add-schedule" (click)="openAddScheduleModal()">
            <div class="add-schedule-icon">+</div>
            {{'schedule-modal-add-button' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-schedule-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="add-modal-title">
          {{'schedule-modal-title' | translate}}
          <img *ngIf="isAddScheduleLoading" class="add-schedule-loading-icon" src="../assets/images/devices/loading-icon.svg">
          <div class="add-schedule-cancel" (click)="closeAddScheduleModal()">
            {{'schedule-modal-cancel' | translate}}
          </div>
        </div>
        <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> {{'schedule-modal-set-time' | translate}}
        <div class="time-picker-group">
          <div class="start-time">
            <div class="time-title">{{'schedule-modal-start' | translate}}</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusStartHour()">
              <div class="dial-content">{{startHour | number : '2.0-0'}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusStartHour()">
            </div>
            <div class="dial-colon">:</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusStartMinute()">
              <div class="dial-content">{{startMinute | number : '2.0-0'}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusStartMinute()">
            </div>
            <div class="dial-colon">:</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="toggleStartPeriod()">
              <div class="dial-content">{{startPeriod}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="toggleStartPeriod()">
            </div>
          </div>
          <div class="end-time">
            <div class="time-title">{{'schedule-modal-end' | translate}}</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusEndHour()">
              <div class="dial-content">{{endHour | number : '2.0-0'}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusEndHour()">
            </div>
            <div class="dial-colon">:</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="plusEndMinute()">
              <div class="dial-content">{{endMinute | number : '2.0-0'}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="minusEndMinute()">
            </div>
            <div class="dial-colon">:</div>
            <div class="time-dial">
              <img class="dial-up" src="../assets/images/location-settings/dial-up.png" (click)="toggleEndPeriod()">
              <div class="dial-content">{{endPeriod}}</div>
              <img class="dial-down" src="../assets/images/location-settings/dial-down.png" (click)="toggleEndPeriod()">
            </div>
          </div>
        </div>
        <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> {{'schedule-modal-set-day' | translate}}
        <div class="all-week-switch">
          {{'schedule-modal-every-day' | translate}}
          <ui-switch size="small" [(ngModel)]="allWeekSwitch"></ui-switch>
        </div>
        <div class="weekday-group">
          <div class="weekday-wrapper">
            <div class="weekday" *ngFor="let day of daysOfWeek" [class.active]="day == scheduleDay" (click)="setScheduleDay(day)">{{day}}</div>
          </div>
        </div>
        <img class="white-bullet-icon" src="../assets/images/location-settings/white-bullet-icon.png"> Setpoint
        <div class="no-select" style="margin-top: 1em; margin-left: 2em">
          <div class="minus-icon" (click)="decreaseScheduleTemp()">-</div>
          <div class="temp2">{{scheduleTemp | number:'2.1-1'}}</div>
          <div class="degree">°</div>
          <div class="plus-icon" (click)="increaseScheduleTemp()">+</div>
        </div>
        <div class="set-schedule-button" (click)="setSchedule()">
          {{'schedule-modal-set' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>