<div *ngIf="isLoading" class="loading">
  <img src="../assets/images/cube-loading.svg" style="width: 4em">
</div>
<div *ngIf="!isLoading" class="locations-wrapper">
  <div class="sidebar">
    <div style="position: relative">
      <input id="search-input" type="text" class="search-input" placeholder="{{'locations-search-hint' | translate}}" (focusin)="scale1()"
        (focusout)="scale0()" (input)="filter()">
      <span class="underline"></span>
      <img class="search-icon" src="../assets/images/locations/search-icon.png">
    </div>
    <div class="filter">
      <div style="margin-bottom: 1.5em">
        <img class="map-icon" src="../assets/images/locations/map-icon.png">
        <span>{{'locations-filter-by-city' | translate}}</span>
      </div>
      <div class="rogo-select">
        <select id="city-select" style="width: 23em" name="city" [(ngModel)]="selectedCity" (change)="filter()">
            <option value="none">Toàn quốc</option>
            <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
        </select>
      </div>
      <div class="rogo-select">
        <select id="district-select" style="width: 23em" name="district" [(ngModel)]="selectedDistrict" (change)="filter()">
            <option value="none">Tất cả quận huyện</option>
              <option *ngFor="let district of districts" [value]="district">{{district}}</option>
          </select>
      </div>
      <div class="results">
        <ul style="list-style: none; padding: 0;">
          <li *ngFor="let item of filteredItemsByDistrict" style="margin-bottom: 1em; cursor: pointer" (click)="selectLocation(item.id)">
            <img class="shop-icon" src="../assets/images/locations/shop-icon.png">
            <div style="display: inline-block">
              <div style="max-width: 20em">{{item.name}}</div>
              <div class="result-city">{{item.address}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <agm-map [latitude]="lat" [longitude]="lng">
      <ng-container *ngFor="let item of filteredItemsByDistrict">
        <agm-marker [latitude]="window.JSON.parse(item.coordinate)[0]" [longitude]="window.JSON.parse(item.coordinate)[1]"></agm-marker>
      </ng-container>
    </agm-map>
  </div>
</div>