.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2e3036;
  color: #ffffff;
  padding-top: 2em;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30em;
  right: 0;
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 0.05em solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.05em;
  font-family: 'Raleway', Arial, sans-serif;
  height: 2.3em;
  width: 23em;
  outline: none;
  padding-left: 2em;
}

.search-input:focus::-webkit-input-placeholder {
  color: #236eba;
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 0.15em;
  position: absolute;
  top: 2.3em;
  -webkit-transform: scale(0, 1);
  transform: scale(0);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 24.3em;
}

.search-icon {
  position: absolute;
  left: 0.2em;
  bottom: 0.65em;
  width: 1.1em;
  cursor: pointer;
}

.filter {
  margin-top: 4em;
  width: 23em;
  height: 100%;
}

.map-icon {
  width: 1.5em;
  vertical-align: bottom;
  margin-bottom: 0.2em;
  margin-right: 0.6em;
}

.rogo-select {
  display: block;
  margin-bottom: 1em;
  width: 23em;
  height: 2.5em;
  position: relative;
}

.rogo-select select{
  background-color: #212329;
  color: #858999;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0.05em solid #606060;
  margin: 0;
  border-radius: 0.2em;
  text-indent: 0.01em;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  outline: none;
}

/*Hiding the select arrow for IE10*/
.rogo-select select::-ms-expand {
  display: none;
}

.rogo-select::before,
.rogo-select::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.rogo-select::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  display:inline-block;
  -webkit-transform:scale(2,1); /* Safari and Chrome */
  -moz-transform:scale(2,1); /* Firefox */
  -ms-transform:scale(2,1); /* IE 9 */
  -o-transform:scale(2,1); /* Opera */
  transform:scale(2,1); /* W3C */
}

.rogo-select::after {
  color: #3f466d;
}

.rogo-select select[disabled] {
  color: rgba(0,0,0,.25);
}

.results {
  width: 23em;
  margin-top: 3.5em;
  height: 100%;
  padding-bottom: 20em;
  overflow-y: scroll;
}

.shop-icon {
  width: 0.9em;
  margin-bottom: -0.2em;
  margin-left: 0.2em;
  margin-right: 0.8em;
  vertical-align: top;
}

.result-city {
  font-size: 0.8em;
  font-style: italic;
  color: #CCC;
  max-width: 23em;
}

agm-map {
  height: 100%;
  width: 100%;
}