.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2e3036;
  color: #ffffff;
  padding-top: 40px;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}