.location-tabs-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.topbar {
  padding: 1.5em 3.5em 0 3.5em;
  background-color: #ffffff;
  border-bottom: 0.1em solid #d7dae7;
}

.back-icon {
  width: 0.45em;
  margin-bottom: 0.18em;
  margin-right: 0.3em;
}

.back-title {
  width: 16em;
  font-size: 1.5em;
  cursor: pointer;
  color: #437fbb;
}

/** Logo */

.logo-icon {
  width: 6em;
  margin: 0 auto;
  display: block;
  margin-top: -2em;
}

/** Profile */

.profile {
  position: absolute;
  right: 5em;
  top: 1.5em;
}

.avatar-icon {
    width: 2.5em;
}

.hello-text {
  font-weight: bold;
  margin-left: 1em;
  cursor: pointer;
}

.hello-text:hover {
  text-decoration: underline;
}


/** Location address*/

.address-group {
  margin-top: 2.5em;
  margin-left: 2em;
}

.gps-icon {
  width: 1.3em;
  margin-right: 1.2em;
  vertical-align: top;
}

.location-group {
  display: inline-block;
  margin-top: -0.43em
}

.location-name {
  font-size: 1.6em;
}

.location-address {
  margin-top: 0.3em;
  color: #a7a7a7;
  font-style: italic;
}

/** Tabs */

.tabs {
  margin-top: 1.5em;
  margin-left: 4.8em;
}

.tab {
  display: inline-block;
  padding: 1em 3em 1em 3em;
  cursor: pointer;
  outline: none;
}

.tab.inactive {
  cursor: not-allowed;
}

.tab.active {
  border-bottom: 0.35em solid #e42b71;
  color: #e42b71;
}

.devices-icon, .settings-icon, .share-icon, .dashboard-icon {
  width: 1.3em;
  margin-right: 0.2em;
  margin-bottom: 0.3em;
}

.tab > .active {
  display: none;
}

.tab.active > .active {
  display: inline-block;
}

.tab.active > :not(active) {
  display: none;
}

/** Profile popup */

.profile-popup {
  position: absolute;
  white-space: nowrap;
  right: -2em;
  top: 3.1em;
  background-color: #F5F5F5;
  z-index: 1;
  box-shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.profile-popup:before {
  border: 0.6em solid;
  border-color: transparent transparent #F5F5F5;
  content: "";
  right: 2em;
  margin-left: -10px;
  position: absolute;
  bottom: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 -0.2em 0.5em);
  z-index: -1;
}

#triangle {
  position: absolute;
  top: 0;
  margin-top: -1px;
  right: 2em;
}

.edit-button {
  padding: 1em 6em 1em 6em;
  border-bottom: 0.1em solid #ebebeb;
  cursor: pointer;
  background-color: #F5F5F5;
  text-align: center;
}

.edit-button:hover {
  color: #f2727e;
}