<div class="rogo-wrap">
  <div class="rogo-title">
    ROGO <span style="color: #49c6e3">AIR</span>
  </div>
  <div class="login-input">
    <span class="input input--hoshi">
        <input class="input__field input__field--hoshi" type="text" id="input-4" />
        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
          <span class="input__label-content input__label-content--hoshi">Tài khoản</span>
    </label>
    </span>
    <span class="input input--hoshi">
        <input class="input__field input__field--hoshi" type="password" id="input-5" />
        <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
          <span class="input__label-content input__label-content--hoshi">Mật khẩu</span>
    </label>
    </span>
  </div>
  <button type="button" class="login-button" (click)="authenticate()"> Đăng nhập </button>
  <a class="recover-password" href="#">Quên mật khẩu</a>
</div>