<div class="rogo-wrap" (keydown)="keyDownFunction($event)">
  <div *ngIf="isLoading" class="loader"></div>
  <div class="rogo-title">
    ROGO
    <span style="color: #49c6e3">AIR</span>
  </div>
  <div class="login-input-group">
    <div class="input-group">
      <input id="username" class="login-input" type="text" spellcheck="false" [(ngModel)]="userName" required/>
      <span class="floating-label">{{'login-username' | translate}}</span>
      <span class="underline"></span>
      <span class="text-error"></span>
    </div>
    <div class="input-group">
      <input id="password" class="login-input" type="password" spellcheck="false" [(ngModel)]="password" required/>
      <span class="floating-label">{{'login-password' | translate}}</span>
      <span class="underline"></span>
      <span class="text-error"></span>
    </div>
  </div>
  <button type="button" class="login-button" (click)="authenticate()"> {{'login-button' | translate}} </button>
  <a class="recover-password" href="#">{{'login-forgot' | translate}}</a>
</div>