.loading {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.8s;
}

.sidebar {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2e343c;
  padding-top: 2.5em;
}

.tabs-outlet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5em;
  right: 0;
}

.tabs-icon {
  color: #939393;
  margin-bottom: 3.5em;
  width: 1.6em;
  cursor: pointer;
}

.tabs-icon.active {
  display: none;
}

.active > .tabs-icon {
  display: none;
}

.active > .tabs-icon.active {
  display: inherit;
}

.tabs-outlet {
  display: inline-block;
}
